body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #ECF0F1;
    color: #2C3E50;
    margin: 0;
    padding: 0;
}

header {
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}


/* Navigation Styling */
nav {
    display: flex;
    align-items: center;
    background-color: #333; /* Adjust the background color as needed */
    padding: 10px 20px;
}

nav .logo {
    height: 50px; 
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; /* Adjust the text color as needed */
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555; /* Adjust the hover background color as needed */
    border-radius: 4px;
}


section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-title {
    font-size: 1.5em;
    color: #333;
    margin-top: 15px;
}

.card-description {
    color: #777;
    margin-top: 10px;
}

.button {
    background-color: #F59E0B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #FBBF24;
}

